body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f8ff;
}

header {
    background: #262729;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #515254;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.welcome {
    background: #dff0ff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    background: #262729;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
