body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1f1f1f, #333538, #444, #333538, #1f1f1f);
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #80720a, #a6900f, #d2bc14, #a6900f, #80720a);
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background: linear-gradient(to right, #444444, #686868, #959595, #686868, #444444);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
